<div class="modal-header">
  <h4 class="modal-title">
    <span jhiTranslate="tfg2App.receta.modalTitulo">Recetas del trabajador/a</span>:
    <strong *ngIf="recetas.length > 0"> {{ recetas[0].trabajador?.nombre }} {{ recetas[0].trabajador?.apellido }} </strong>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <div *ngIf="!isLoading && recetas.length === 0" class="alert alert-warning text-center my-4">
    <fa-icon icon="prescription-bottle-alt" class="me-2"></fa-icon>
    <span jhiTranslate="tfg2App.receta.sinReceta">No hay recetas para este trabajador.</span>
  </div>
  <div *ngIf="!isLoading && recetas.length > 0">
    <div *ngFor="let receta of recetas" class="card mb-3 shadow-sm border-primary">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="badge bg-success fs-6">
            {{ 'tfg2App.receta.fechaInicio' | translate }} {{ receta.fechaInicio ? (receta.fechaInicio.toDate() | date: 'short') : '' }}
          </span>

          <span class="badge bg-info text-dark fs-6">
            {{ 'tfg2App.receta.fechaFin' | translate }} {{ receta.fechaFin ? (receta.fechaFin.toDate() | date: 'short') : '' }}
          </span>
          <span class="badge bg-secondary">
            {{ receta.id }}
          </span>
        </div>
        <div class="mb-2">
          <strong jhiTranslate="tfg2App.receta.instrucciones">Instrucciones:</strong>:
          <span>{{ receta.instrucciones }}</span>
        </div>
        <div class="mb-2">
          <strong jhiTranslate="tfg2App.receta.paciente">Paciente:</strong>:
          <span *ngIf="receta.paciente">{{ receta.paciente.nombre }} {{ receta.paciente.apellido }}</span>
          <span *ngIf="!receta.paciente" class="text-muted" jhiTranslate="tfg2App.receta.sinPaciente">Sin paciente</span>:
        </div>
        <div class="mb-2">
          <strong jhiTranslate="tfg2App.receta.medicamento">Medicamentos:</strong>:
          <span *ngIf="receta.medicamentos">{{ receta.medicamentos[0].nombre }}</span>
          <span *ngIf="!receta.medicamentos" class="text-muted" jhiTranslate="tfg2App.receta.sinMedicamento">Sin medicamentos</span>:
        </div>
        <a [routerLink]="['/receta', receta.id, 'view']" (click)="close()" class="btn btn-outline-primary btn-sm">
          <fa-icon icon="eye"></fa-icon> <span jhiTranslate="entity.action.viewDetail">Ver detalle</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn bg-danger text-white" (click)="close()" jhiTranslate="entity.action.cancel">Cancelar</button>
</div>
