<div class="d-flex justify-content-center">
  <div class="col-8 modal-content">
    <ng-container *ngIf="paciente as pacienteRef">
      <div>
        <h2 data-cy="pacienteDetailsHeading" style="margin-left: 30px">
          <span jhiTranslate="tfg2App.paciente.detail.title">Paciente</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <!-- OCULTAR ID DEL PACIENTE
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ pacienteRef.id }}</span>
          </dd>-->
          <dt><span jhiTranslate="tfg2App.paciente.nombre">Nombre</span></dt>
          <dd>
            <span>{{ pacienteRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="tfg2App.paciente.apellido">Apellido</span></dt>
          <dd>
            <span>{{ pacienteRef.apellido }}</span>
          </dd>
          <dt><span jhiTranslate="tfg2App.paciente.dni">Dni</span></dt>
          <dd>
            <span>{{ pacienteRef.dni }}</span>
          </dd>
          <dt><span jhiTranslate="tfg2App.paciente.seguroMedico">Seguro Medico</span></dt>
          <dd>
            <span>{{ pacienteRef.seguroMedico }}</span>
          </dd>
          <dt><span jhiTranslate="tfg2App.paciente.fechaNacimiento">Fecha Nacimiento</span></dt>
          <dd>
            <span>{{ pacienteRef.fechaNacimiento | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="tfg2App.paciente.telefono">Telefono</span></dt>
          <dd>
            <span>{{ pacienteRef.telefono }}</span>
          </dd>
          <dt style="margin-left: 30px"><span jhiTranslate="tfg2App.paciente.trabajador">Trabajador asignado</span></dt>
          <dd>
            @for (trabajador of pacienteRef.trabajadors; track $index; let last = $last) {
              <div>
                <a href="#" (click)="openTrabajadorDetailModal(trabajador); $event.preventDefault()" (click)="close()">
                  {{ trabajador.nombre }} {{ trabajador.apellido }}
                </a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="tfg2App.paciente.trabajadorConCita">Cita/s con</span></dt>
          <!-- Recorre los trabajadores que se le asocian al paciente en las citas -->
          <dd>
            @for (cita of pacienteRef.citas; track $index) {
              @for (trabajador of cita.trabajadors; track $index) {
                <div>
                  <a href="#" (click)="openTrabajadorDetailModal(trabajador); $event.preventDefault()" (click)="close()">
                    {{ trabajador.nombre }} {{ trabajador.apellido }}
                  </a>
                </div>
              }
            }
          </dd>
          <dt><span jhiTranslate="tfg2App.paciente.direccion">Direccion</span></dt>
          <dd>
            @for (direccion of pacienteRef.direccions; track $index) {
              <span class="badge rounded-pill bg-primary py-2 px-2 me-1">
                <a [routerLink]="['/direccion', direccion.id, 'view']" (click)="close()" class="text-white text-decoration-none h6">
                  {{ direccion?.calle }} --- C.P: {{ direccion?.codigoPostal }} --- nº:{{ direccion?.numero }} --- ({{ direccion?.ciudad }}
                  {{ direccion?.pais }})</a
                >
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="close()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>
        <button type="button" [routerLink]="['/paciente', pacienteRef.id, 'edit']" class="btn btn-primary" (click)="close()">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>
